<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Autor</title>
    </h:head>
    <h:body>
        <h:form id="Autor">            
            <p:growl id="growl" life="3500" autoUpdate="true"/>
            <ui:include src="/menu.xhtml" />
            <p:separator />
            <p:panel id="panel" header="Cadastro de Autor" footer="Biblioteca - EJB 3">
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="primeiroNome" value="Primeiro Nome: " />
                    <p:inputText id="primeiroNome" value="#{autorBean.autor.primeiroNome}" label="Name" />

                    <h:outputLabel for="ultimoNome" value="Último Nome: " />
                    <p:inputText id="ultimoNome" value="#{autorBean.autor.ultimoNome}" label="Name"/>

                    <h:outputLabel for="cpf" value="CPF: " />
                    <p:inputMask id="cpf" value="#{autorBean.autor.cpf}" label="CPF" mask="999.999.999-99"/>
                </h:panelGrid>
                <p:commandButton action="#{autorBean.salvar()}" value="Salvar" ajax="true" update="growl, panel" 
                                 title="Salvar Autor" icon="ui-icon-check" validateClient="false"/>
            </p:panel>
        </h:form>
    </h:body>
</html>


