<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Editora</title>
    </h:head>
    <h:body>
        <h:form id="Editora">            
            <p:growl id="growl" life="3500" autoUpdate="true"/>
            <ui:include src="/menu.xhtml" />
            <p:separator />
            <p:panel id="panel" header="Cadastro de Editora" footer="Biblioteca - EJB 3">
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="nome" value="Nome: " />
                    <p:inputText id="nome" value="#{editoraBean.editora.nome}" label="Nome" />
                </h:panelGrid>
                <p:commandButton action="#{editoraBean.salvar()}" value="Salvar" ajax="false" update="growl, panel" 
                                 title="Salvar Editora" icon="ui-icon-check" validateClient="false"/>
            </p:panel>
        </h:form>
    </h:body>
</html>


