<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui">
    <p:menuButton value="Menu">
        <p:menuitem value="Casdastrar Autor" outcome="autor.xhtml" icon="ui-icon-person"/>
        <p:menuitem value="Cadastrar Editora" outcome="editora.xhtml" icon="ui-icon-print"/>
        <p:menuitem value="Cadastrar Livro" outcome="livro.xhtml" icon="ui-icon-document"/>
        <p:separator />
        <p:menuitem value="Listar Livro" outcome="livros.xhtml" icon="ui-icon-document"/>        
    </p:menuButton>
</html>

